<div id="login">

	<form action="/login" method="POST">

		<input type="text" name="[user]email" value="Email" required> <br>

		<input type="password" name="[user]password" value="Password" required>

		<input type="submit" value="Log in">

	</form>

</div>